.contenedor-logo, .menu-principal{
	margin:auto;
	text-align:center;
}

.texto-xbox{
	color: green;
}

.texto-playStation{
	color: blue;
}

.texto-nintendo{
	color: red;
}

.texto-normal-red{
	color: #D10024;
}

.texto-normal-gray{
	color: #8D99AE;
}

.nav-vertical {
	display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
	padding: 20px;
	color: #fff;
	text-decoration: none;
}

tr:hover {
	  background-color: #D10024;
}